{% extends 'base.html.twig' %}

{% block title %}Finish_Exam_Page{% endblock %}

{% block body %}
<div class = "container">
    <div class = "card my-4 mx-4">
        <div class = "card-body text-center">
            <label><strong> Correct : </strong></label></br>
            <label><strong>Incorrect :</strong></label></br>
            <label><strong>Result :</strong></label><br/>
            <a href="{{path('home')}}"><button class="btn btn-primary my-2 mx-2">Finish Quiz</button></a>
        </div>
    </div>
</div>
{% endblock %}