{% extends 'base.html.twig' %}

{% block title %}Hello QuestionController!{% endblock %}

{% block body %}
<style>
    <style>
        .card-size {
            width: 800px;
            height: 400px;
            text-align: center;
            padding: 50px;
            margin: 100px 250px ;
            border-radius: 20px;
        }
        .text-color{
            color:rgb(0, 102, 255);
        }
        .text-color1{
            color: rgb(105, 189, 105);
        }
    </style>

</style>

 <div class="">
        <div class="card  card-size ">
            <div class="card-body">
                <div class='container'>
                    <div class="row">
                        <h1 class="text-color">Online Quize Examination</h1>
                        <h5 class="mt-4 text-color1">Welcome</h5>
                        <div class="col-md-12 mt-4">
                            <a href="{{path('questionpage')}}" ><button class="btn btn-primary">Admin</button></a>
                            <a href="{{path('startexam')}}" ><button class="btn btn-primary">Student</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
     
    </script>
{% endblock %}
