{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <style>
        .card-style{
            margin : 150px 50px 50px 50px;
            padding: 50px
        }
        .text-color{
            color: blue;
        }
        .text-color1{
            color: green;
        }
    </style>
    <div class="">
        <div class="card card-style text-center">
            <div class="card-body">
                <div class='container'>
                    <div class="row">
                        <h1 class="text-color">Online Quize Examination</h1>
                        <h5 class="mt-4 text-color1">Welcome</h5>
                        <div class="col-md-12 mt-4">
                            <a href="{{path('questionpage')}}" ><button class="btn btn-primary">Admin</button></a>
                            <a href="{{path('startexam')}}" ><button class="btn btn-primary">Student</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

