{% extends 'base.html.twig' %}

{% block title %}Start_Exam_Page{% endblock %}

{% block body %}
    <style>
        .card-style{
            margin : 150px 50px 50px 50px;
            padding: 50px
        }
    </style>

    <div class="container">
        <div class="card my-4 mx-4 card-style">
            <div class="card-body text-center my-4 mx-4">
                <h3 class="mt-2">Are you ready?</h3>
                <a href="{{path('exampage')}}"><button class="btn btn-primary mt-2 mx-2">Start</button></a>
                <a href="{{path('home')}}"><button class="btn btn-primary mt-2 mx-2">Back</button></a>
            </div>
        </div>   
    </div>
{% endblock %}